.product-section-intro {
  margin-block: 1rem 2rem;
  text-align: center;
}

.products-section {
  padding-top: .5rem;
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .6rem;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
}

.product-image {
  width: 100%;
  border-radius: .6rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  aspect-ratio: 16 / 9;
  object-fit: contain;
}

.product-card h3 {
  margin-block: .5rem;
}

.category-tag {
  align-self: flex-start;
  background: var(--color-tag-bg);
  color: rgba(var(--color-primary-green));
  font-size: 0.9rem;
  padding: .3rem .6rem;
  border-radius: 999px;
  margin-bottom: .5rem;
}

.product-description {
  font-size: .9rem;
  color: var(--color-text-tertiary);
  line-height: 1.5;
  margin-bottom: 1rem;

  /* Truncation */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 4.5em;
}


.product-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  flex-grow: 1;
}

.product-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.buy-link {
  background: var(--color-accent-green);
  color: var(--color-white);
  font-weight: 600;
  padding: .6rem 1rem;
  border-radius: .4rem;
  text-align: center;
  text-decoration: none;
  transition: background 0.2s ease;

  margin-top: auto;
}

.buy-link:hover {
  background: var(--color-accent-green);
}