.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: var(--color-header-bg);
}

.header-wrapper {
  padding: 0.75rem 1rem;
}

.nav-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.05rem;
}

.logo {
  width: 100px;
}

.menu-button {
  background: none;
  border: none;

  color: var(--color-white);
  font-size: 1.5rem;

  cursor: pointer;
  display: block;
  z-index: 1002;
}

.links-container {
  position: fixed;
  top: 60px;
  left: 0;
  width: 80%;
  height: 100vh;
  background-color: var(--color-text-primary);
  color: var(--color-white);
  padding: 1rem 1rem 0rem 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  transform: translateX(-100%);
  /* make links hide*/
  transition: transform 0.7s ease-out;
  z-index: 1000;
}

.links-container > a:hover {
  text-decoration: underline;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  z-index: 999;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.7s ease-out, visibility 0.7s ease-out;
}

.backdrop.show {
  opacity: 1;
  visibility: visible;
}

.links-container.open {
  transform: translateX(0);
  /* make links open*/
}

.links-container a {
  font-size: 1.25rem;
  padding: 0.35rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media (min-width: 768px) {

  .menu-button {
    display: none;
  }

  .backdrop {
    display: none;
  }

  .nav-bar {
    justify-content: space-between;
    align-items: center;
  }

  .links-container {
    position: static;
    height: auto;
    width: auto;
    padding: 0;
    background-color: transparent;

    transform: translateX(0);
    transition: none;

    z-index: auto;

    flex-direction: row;
    gap: 1.5rem;
  }

  .links-container a {
    font-size: 1rem;
    padding: 0;
    border-bottom: none;
  }
}