#home {
  scroll-margin-top: 4rem;
  min-height: calc(100dvh - 4rem);
}

.main-title,
.sub-title {
  margin-bottom: 1rem;
}

.main-title {
  font-size: clamp(1.3rem, 5vw, 2rem);
  font-weight: 700;
  color: rgb(var(--color-primary-green));
}

.sub-title {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  color: var(--color-text-secondary)
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-image {
  width: clamp(18rem, 80%, 25rem);
  border-radius: 1rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  aspect-ratio: 16 / 9;
  object-fit: cover;
}


.cta {
  background-color: var(--color-accent-green);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  border-radius: .8rem;
  padding: 1rem 2rem;
  margin-block: 1.5rem 1rem;
  font-size: 1.1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cta:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.wrapper {
  animation: fadeInUp 0.8s ease forwards;
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-items: center;
  place-content: center;
  place-items: center;

  text-align: center;
  gap: 1rem;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .cta-holder {
    grid-column: 1 / -1;
    width: 80%;
  }
}