.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .2rem;
  text-align: justify;
  /* min-height: calc(100dvh - 100px); */
  min-height: 100svh;
}

.about-sub-content {
  margin-block: 1rem;
  font-style: italic;
  font-weight: 500;
  color: var(--color-text-secondary);
  padding: 0 1rem;
  text-align: center;
}

.section-title.about {
  margin-block: 0 3rem;
}

.impact-statement {
  font-style: italic;
  text-align: center;
  color: var(--color-text-tertiary);

  border: 1px solid;
  border-left: 4px solid rgb(var(--color-primary-green));
  border-radius: 1rem;

  padding: 1rem;
  margin-block: 1rem;
}